<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.AddressResolutionMapper">

    <select id="selectAddressResolution" parameterType="String"
            resultType="com.sftc.web.model.entity.AddressResolution">
        SELECT *
        FROM c_address_resolution
        WHERE address = #{address}
    </select>

    <insert id="insertAddressResolution" parameterType="com.sftc.web.model.entity.AddressResolution"
            useGeneratedKeys="true">
        INSERT INTO c_address_resolution (address, longitude, latitude, create_time)
        VALUES (#{address}, #{longitude}, #{latitude}, #{create_time})
    </insert>

</mapper>