<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.AddressMapper">

    <resultMap id="addressList" type="com.sftc.web.model.Address">
        <id column="id" property="id"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="detail" property="detail"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="user_id" property="user_id"/>
    </resultMap>

    <!-- 添加地址  -->
    <insert id="addAddress" useGeneratedKeys="true" keyProperty="id" parameterType="com.sftc.web.model.Address">
      insert into sftc_address
      (user_id,name,phone,province,city,area,address,longitude,latitude,create_time,supplementary_info)
      values
      (#{user_id},#{name},#{phone},#{province},#{city},#{area},#{address},#{longitude},#{latitude},#{create_time},#{supplementary_info})
    </insert>

    <!--  编辑地址  -->
    <update id="editeAddress" parameterType="com.sftc.web.model.Address">
        UPDATE sftc_address
        <trim prefix="set" suffixOverrides=",">
            <if test="province!=null">province=#{province},</if>
            <if test="city!=null">city=#{city},</if>
            <if test="district!=null">district=#{district},</if>
            <if test="detail!=null">detail=#{detail},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="longitude!=null">longitude=#{longitude},</if>
            <if test="latitude!=null">latitude=#{latitude},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <!-- 地址表详情 -->
    <select id="addressDetail" parameterType="int" resultMap="addressList">
        SELECT * from sftc_address WHERE user_id=#{id}
    </select>

    <!-- 地址列表 -->
    <select id="addressList" parameterType="java.util.Map" resultType="com.sftc.web.model.Address">
        select * FROM sftc_address WHERE user_id=#{user_id} limit #{pageOffset},#{pageSize};
    </select>

    <delete id="deleteAddress" parameterType="int">
        delete from sftc_address where id=#{id}
    </delete>

    <select id="selectAddressByPhoneAndLongitudeAndLatitude" resultType="com.sftc.web.model.Address">
        SELECT * from sftc_address WHERE phone = #{phone} AND longitude = #{longitude} AND latitude = #{latitude}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.sftc.web.model.Address">
        UPDATE sftc_address
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="supplementary_info != null">
                supplementary_info = #{supplementary_info,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null and longitude != 0">
                longitude = #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null and latitude != 0">
                latitude = #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>