<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.AddressBookMapper">

    <resultMap id="BaseResultMap" type="com.sftc.web.model.dto.AddressBookDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_uuid" property="user_uuid" jdbcType="VARCHAR"/>
        <result column="address_id" property="address_id" jdbcType="INTEGER"/>
        <result column="is_delete" property="is_delete" jdbcType="INTEGER"/>
        <result column="is_mystery" property="is_mystery" jdbcType="INTEGER"/>
        <result column="address_type" property="address_type" jdbcType="VARCHAR"/>
        <result column="address_book_type" property="address_book_type" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="AddressMap" type="com.sftc.web.model.dto.AddressBookDTO">
        <result column="id" property="id"/>
        <result column="user_uuid" property="user_uuid"/>
        <result column="address_id" property="address_id"/>
        <result column="is_delete" property="is_delete"/>
        <result column="is_mystery" property="is_mystery"/>
        <result column="create_time" property="create_time"/>
        <association property="address" column="address_id" select="selectAddress"/>
    </resultMap>

    <select id="selectAddress" parameterType="int" resultType="com.sftc.web.model.entity.Address">
        SELECT *
        FROM c_address
        WHERE id = #{address_id}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long">
        SELECT
            id,
            user_uuid,
            address_id,
            is_delete,
            is_mystery,
            address_type,
            address_book_type,
            create_time
        FROM c_address_book
        WHERE id = #{id}
    </select>

    <delete id="deleteAddressBookById" parameterType="long">
        DELETE FROM c_address_book
        WHERE id = #{id}
    </delete>

    <!--获取 地址簿列表-->
    <select id="selectAddressBookList" resultMap="AddressMap">
        SELECT *
        FROM c_address_book ab, c_address a
        WHERE ab.address_id = a.id AND ab.user_uuid = #{userUUID} AND ab.is_delete = 0
              AND ab.address_type = 'address_book' AND ab.address_book_type = #{address_book_type}
        ORDER BY ab.create_time DESC
    </select>

    <!--获取 历史地址列表-->
    <select id="selectAddressHistoryListByUserUUId" resultMap="AddressMap">
        SELECT *
        FROM c_address_book ab, c_address a
        WHERE ab.address_id = a.id AND ab.user_uuid = #{userUUID} AND ab.is_delete = 0 AND
              ab.address_type = 'address_history'
        ORDER BY ab.create_time DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <!--地址验重-->
    <select id="selectAddressForRemoveDuplicate" resultType="com.sftc.web.model.dto.AddressBookDTO">
        SELECT ab.* FROM c_address_book ab, c_address a
        WHERE ab.address_id = a.id
        AND ab.is_delete = 0
        <if test='userUUID != null and userUUID != ""  '>
            AND ab.user_uuid = #{userUUID}
        </if>
        <if test="address_type != null">
            AND ab.address_type = #{address_type}
        </if>
        <if test="address_book_type != null">
            AND ab.address_book_type = #{address_book_type}
        </if>
        <if test="name != null">
            AND a.name = #{name}
        </if>
        <if test="phone != null">
            AND a.phone = #{phone}
        </if>
        <if test="province != null">
            AND a.province = #{province}
        </if>
        <if test="city != null">
            AND a.city = #{city}
        </if>
        <if test="area != null">
            AND a.area = #{area}
        </if>
        <if test="address != null">
            AND a.address = #{address}
        </if>
        <if test="supplementary_info != null and supplementary_info != ''">
            AND a.supplementary_info = #{supplementary_info}
        </if>
    </select>

    <select id="selectDuplicateAddress" resultType="com.sftc.web.model.dto.AddressBookDTO">
        SELECT ab.* FROM c_address_book ab, c_address a
        WHERE ab.address_id=a.id
        AND ab.is_delete = 0
        <if test="name != null">
            AND a.name = #{name}
        </if>
        <if test="phone != null">
            AND a.phone = #{phone}
        </if>
        <if test="province != null">
            AND a.province = #{province}
        </if>
        <if test="city != null">
            AND a.city = #{city}
        </if>
        <if test="area != null">
            AND a.area = #{area}
        </if>
        <if test="address != null">
            AND a.address = #{address}
        </if>
        <if test="supplementary_info != null and supplementary_info != ''">
            AND a.supplementary_info = #{supplementary_info}
        </if>
    </select>

</mapper>