<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.AddressBookMapper">

    <resultMap id="BaseResultMap" type="com.sftc.web.model.AddressBook">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="address_id" property="address_id" jdbcType="INTEGER"/>
        <result column="is_delete" property="is_delete" jdbcType="INTEGER"/>
        <result column="is_mystery" property="is_mystery" jdbcType="INTEGER"/>
        <result column="address_type" property="address_type" jdbcType="VARCHAR"/>
        <result column="address_book_type" property="address_book_type" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="AddressMap" type="com.sftc.web.model.AddressBook">
        <result column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="address_id" property="address_id"/>
        <result column="is_delete" property="is_delete"/>
        <result column="is_mystery" property="is_mystery"/>
        <result column="create_time" property="create_time"/>
        <association property="address" column="address_id" select="selectAddress"/>
    </resultMap>

    <select id="selectAddress" parameterType="int" resultType="com.sftc.web.model.Address">
        SELECT * FROM sftc_address WHERE id=#{address_id}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, user_id, address_id, is_delete, is_mystery, address_type, address_book_type, create_time
        from sftc_address_book
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.sftc.web.model.AddressBook">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sftc_address_book (user_id, address_id, is_delete,
        is_mystery, address_type, address_book_type,
        create_time)
        values (#{user_id,jdbcType=INTEGER}, #{address_id,jdbcType=INTEGER}, #{is_delete,jdbcType=INTEGER},
        #{is_mystery,jdbcType=INTEGER}, #{address_type,jdbcType=VARCHAR}, #{address_book_type,jdbcType=VARCHAR},
        #{create_time,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.sftc.web.model.AddressBook" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sftc_address_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_id != null">
                user_id,
            </if>
            <if test="address_id != null">
                address_id,
            </if>
            <if test="is_delete != null">
                is_delete,
            </if>
            <if test="is_mystery != null">
                is_mystery,
            </if>
            <if test="address_type != null">
                address_type,
            </if>
            <if test="address_book_type != null">
                address_book_type,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="address_id != null">
                #{address_id,jdbcType=INTEGER},
            </if>
            <if test="is_delete != null">
                #{is_delete,jdbcType=INTEGER},
            </if>
            <if test="is_mystery != null">
                #{is_mystery,jdbcType=INTEGER},
            </if>
            <if test="address_type != null">
                #{address_type,jdbcType=VARCHAR},
            </if>
            <if test="address_book_type != null">
                #{address_book_type,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sftc.web.model.AddressBook">
        update sftc_address_book
        <set>
            <if test="user_id != null and user_id != 0">
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
            <if test="address_id != null and address_id != 0">
                address_id = #{address_id,jdbcType=INTEGER},
            </if>
            <if test="address_type != null">
                address_type = #{address_type,jdbcType=VARCHAR},
            </if>
            <if test="address_book_type != null">
                address_book_type = #{address_book_type,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByCreatetime">
        update sftc_address_book
        set create_time = #{create_time}
        where id = #{id}
    </update>

    <update id="updateIsDeleteStatusByPrimaryKey">
        update sftc_address_book SET is_delete = #{is_delete} WHERE id = #{id}
    </update>

    <!--获取 地址簿列表-->
    <select id="selectAddressBookList" resultMap="AddressMap">
        SELECT *
        FROM sftc_address_book ab, sftc_address a
        WHERE ab.address_id=a.id AND ab.user_id=#{user_id} AND ab.is_delete=0
        AND ab.address_type='address_book' AND ab.address_book_type = #{address_book_type}
        ORDER BY ab.create_time desc
    </select>

    <!--获取 历史地址列表-->
    <select id="selectAddressHistoryListByUserId" parameterType="int" resultMap="AddressMap">
        SELECT *
        FROM sftc_address_book ab, sftc_address a
        WHERE ab.address_id=a.id AND ab.user_id=#{user_id} AND ab.is_delete=0 AND ab.address_type='address_history'
        ORDER BY ab.create_time desc
        limit #{startIndex}, #{pageSize}
    </select>

    <!--地址验重-->
    <select id="selectAddressForRemoveDuplicate" resultType="com.sftc.web.model.AddressBook">
        SELECT ab.* FROM sftc_address_book ab, sftc_address a
        WHERE ab.address_id = a.id
        <if test="user_id != null and user_id != 0">
        AND ab.user_id = #{user_id}
        </if>
        <if test="address_type != null">
        AND ab.address_type = #{address_type}
        </if>
        <if test="address_book_type != null">
        AND ab.address_book_type = #{address_book_type}
        </if>
        <if test="name != null">
        AND a.name = #{name}
        </if>
        <if test="phone != null">
        AND a.phone = #{phone}
        </if>
        <if test="province != null">
        AND a.province = #{province}
        </if>
        <if test="city != null">
        AND a.city = #{city}
        </if>
        <if test="area != null">
        AND a.area = #{area}
        </if>
        <if test="address != null">
        AND a.address = #{address}
        </if>
        <if test="supplementary_info != null and supplementary_info != ''">
        AND a.supplementary_info = #{supplementary_info}
        </if>
    </select>

    <select id="selectDuplicateAddress" resultType="com.sftc.web.model.AddressBook">
        SELECT ab.* FROM sftc_address_book ab, sftc_address a
        WHERE ab.address_id=a.id
        AND ab.is_delete = 0
        <if test="name != null">
            AND a.name = #{name}
        </if>
        <if test="phone != null">
            AND a.phone = #{phone}
        </if>
        <if test="province != null">
            AND a.province = #{province}
        </if>
        <if test="city != null">
            AND a.city = #{city}
        </if>
        <if test="area != null">
            AND a.area = #{area}
        </if>
        <if test="address != null">
            AND a.address = #{address}
        </if>
        <if test="supplementary_info != null and supplementary_info != ''">
            AND a.supplementary_info = #{supplementary_info}
        </if>
    </select>

</mapper>