<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.AddressMapper">

    <resultMap id="addressList" type="com.sftc.web.model.entity.Address">
        <id column="id" property="id"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="detail" property="detail"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="user_id" property="user_id"/>
    </resultMap>

    <!-- 添加地址  -->
    <insert id="addAddress" useGeneratedKeys="true" keyProperty="id" parameterType="com.sftc.web.model.entity.Address">
      insert into sftc_address
      (user_id,name,phone,province,city,area,address,longitude,latitude,create_time,supplementary_info)
      values
      (#{user_id},#{name},#{phone},#{province},#{city},#{area},#{address},#{longitude},#{latitude},#{create_time},#{supplementary_info})
    </insert>

    <!-- 删除地址  -->
    <delete id="deleteAddress" parameterType="int">
        delete from sftc_address where id=#{id}
    </delete>

</mapper>