<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.CommonQuestionMapper">

    <!-- 常见问题列表  -->
    <select id="getCommonQuestion" resultType="com.sftc.web.model.entity.CommonQuestion">
        SELECT
            id,
            title,
            content
        FROM sftc_common_question
    </select>
</mapper>