<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.model.dao.mybatis.EvaluateMapper">
    <!-- 添加 订单评价信息-->
    <insert id="addEvaluate" parameterType="com.sftc.web.model.Evaluate">
        INSERT INTO sftc_evaluate
        (merchant_comments, merchant_score, merchant_tags, uuid, orderExpress_id, user_id, create_time)
        VALUES
            (#{merchant_comments}, #{merchant_score}, #{merchant_tags}, #{uuid}, #{orderExpress_id}, #{user_id},
             #{create_time})
    </insert>

    <!-- 查找 评价信息 by uuid-->
    <select id="selectByUuid" resultType="com.sftc.web.model.Evaluate">
        SELECT *
        FROM sftc_evaluate
        WHERE uuid = #{uuid}
    </select>

    <!--CMS -->
    <select id="selectByPage" resultType="com.sftc.web.model.Evaluate">
        SELECT * FROM sftc_evaluate
        <where>
            <if test="id != 0">and id = #{id}</if>
            <if test="user_id != 0">and user_id = #{user_id}</if>
            <if test="uuid != null">and uuid = #{uuid}</if>
        </where>
    </select>
</mapper>