<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.OrderMapper">

    <resultMap id="orderMap" type="com.sftc.web.model.dto.OrderDTO">
        <id property="id" column="id"/>
        <result property="order_type" column="order_type"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="sender_user_uuid" column="sender_user_uuid"/>
        <result property="sender_mobile" column="sender_mobile"/>
        <result property="sender_name" column="sender_name"/>
        <result property="sender_province" column="sender_province"/>
        <result property="sender_city" column="sender_city"/>
        <result property="sender_area" column="sender_area"/>
        <result property="sender_addr" column="sender_addr"/>
        <result property="voice" column="voice"/>
        <result property="image" column="image"/>
        <result property="word_message" column="word_message"/>
        <result property="pay_method" column="pay_method"/>
        <result property="distribution_method" column="distribution_method"/>
        <result property="gift_card_id" column="gift_card_id"/>
        <result property="voice_time" column="voice_time"/>
        <result property="create_time" column="create_time"/>
        <association property="giftCard" select="selectGiftCard" column="gift_card_id">
        </association>
        <collection property="orderExpressList" ofType="com.sftc.web.model.dto.OrderExpressDTO"
                    select="selectExpressList"
                    column="id">
        </collection>
    </resultMap>

    <resultMap id="friendOrderMap" type="com.sftc.web.model.dto.OrderDTO">
        <id property="id" column="id"/>
        <result property="order_type" column="order_type"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="sender_user_uuid" column="sender_user_uuid"/>
        <result property="sender_mobile" column="sender_mobile"/>
        <result property="sender_name" column="sender_name"/>
        <result property="sender_province" column="sender_province"/>
        <result property="sender_city" column="sender_city"/>
        <result property="sender_area" column="sender_area"/>
        <result property="sender_addr" column="sender_addr"/>
        <result property="voice" column="voice"/>
        <result property="image" column="image"/>
        <result property="word_message" column="word_message"/>
        <result property="pay_method" column="pay_method"/>
        <result property="distribution_method" column="distribution_method"/>
        <result property="gift_card_id" column="gift_card_id"/>
        <result property="voice_time" column="voice_time"/>
        <result property="create_time" column="create_time"/>
        <association property="giftCard" select="selectGiftCard" column="gift_card_id">
        </association>
        <collection property="orderExpressList" ofType="com.sftc.web.model.dto.OrderExpressDTO"
                    select="selectFriendExpress"
                    column="id">
        </collection>
    </resultMap>

    <select id="selectExpressList" parameterType="java.lang.String" resultType="com.sftc.web.model.dto.OrderExpressDTO">
        SELECT *
        FROM c_order_express
        WHERE order_id = #{id}
    </select>

    <select id="selectFriendExpress" parameterType="java.lang.String"
            resultType="com.sftc.web.model.dto.OrderExpressDTO">
        SELECT *
        FROM c_order_express
        WHERE order_id = #{id} AND ship_name IS NOT NULL
    </select>

    <select id="selectGiftCard" parameterType="int" resultType="com.sftc.web.model.entity.GiftCard">
        SELECT *
        FROM c_gift_card
        WHERE id = #{gift_card_id}
    </select>

    <!--抓取未提交的好友多包裹-->
    <select id="selectMutilExpressOrders" resultType="java.lang.String">
        SELECT DISTINCT oe.order_id
        FROM c_order o, c_order_express oe
        WHERE o.id = oe.order_id AND o.is_cancel = 0
              AND (SELECT COUNT(order_id)
                   FROM c_order_express
                   WHERE oe.order_id = o.id) > 1 AND (oe.order_number IS NULL OR oe.order_number = '')
    </select>

    <!--抓取同城单-->
    <select id="selectSameUnCommitOrders" resultType="java.lang.String">
        SELECT DISTINCT oe.order_id
        FROM c_order o, c_order_express oe
        WHERE o.id = oe.order_id
              AND
              (1 = (SELECT COUNT(order_id)
                    FROM c_order_express
                    WHERE order_id = o.id))
              AND o.is_cancel = 0
              AND (
                  (oe.route_state = 'WAIT_FILL' OR oe.route_state = 'ALREADY_FILL')
                  OR
                  (oe.pay_state = 'WAIT_PAY' AND (oe.order_number IS NULL OR oe.order_number = ''))
              )
    </select>

    <select id="selectOrderDetailByOrderId" resultMap="orderMap" parameterType="java.lang.String">
        SELECT *
        FROM c_order
        WHERE id = #{order_id}
    </select>

    <select id="selectOrderDetailByExpressId" resultMap="orderMap" parameterType="int">
        SELECT *
        FROM c_order o, c_order_express oe
        WHERE o.id = oe.order_id AND oe.id = #{express_id}
    </select>

    <!-- 我的订单列表  解决多字段 转义的问题 -->
    <select id="selectMyOrderList" parameterType="com.sftc.web.model.vo.swaggerOrderRequest.MyOrderParamVO"
            resultMap="orderMap">
        SELECT * FROM c_order
        WHERE id IN (
        SELECT o.id FROM c_order o, c_order_express oe
        WHERE o.id=oe.order_id AND o.sender_user_uuid=#{userUuid}
        <if test="keyword_state != null">
            AND (oe.route_state REGEXP ${keyword_state} )
        </if>
        <if test="keyword!=null">
            AND (
            o.sender_name LIKE #{keyword} OR
            o.sender_province LIKE #{keyword} OR
            o.sender_city LIKE #{keyword} OR
            o.sender_area LIKE #{keyword} OR
            o.sender_addr LIKE #{keyword} OR
            oe.order_number LIKE #{keyword} OR
            oe.ship_name LIKE #{keyword} OR
            oe.ship_province LIKE #{keyword} OR
            oe.ship_city LIKE #{keyword} OR
            oe.ship_area LIKE #{keyword} OR
            oe.ship_addr LIKE #{keyword}
            )
        </if>
        )
        ORDER by create_time desc
        limit #{pageNum}, #{pageSize}
    </select>


    <!-- 我的好友订单列表  -->
    <select id="selectMyFriendOrderList" parameterType="com.sftc.web.model.vo.swaggerOrderRequest.MyOrderParamVO"
            resultMap="orderMap">

        SELECT *
        FROM c_order o
        WHERE id IN (
            SELECT t.order_id
            FROM (
                     SELECT DISTINCT oe.order_id
                     FROM c_order_express oe
                     WHERE (oe.sender_user_uuid = #{userUuid} OR oe.ship_user_uuid = #{userUuid})
                 ) AS t
        ) AND order_type = 'ORDER_MYSTERY'
        ORDER BY o.create_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="myOrderLists" parameterType="com.sftc.web.model.entity.OrderExpress" resultMap="orderMap">
        select
        c_order_express.id,
        c_order_express.order_number,
        c_order.pay_time,
        c_order.pay_method,
        c_order.distribution_method,
        c_order.sender_name,
        c_order.sender_mobile,
        c_order.sender_province,
        c_order.sender_city,
        c_order.sender_area,
        c_order.sender_addr,
        c_order.word_message,
        c_order.image,
        c_order.voice,
        c_order.longitude,
        c_order.latitude,
        c_order.sender_user_uuid,
        c_order.gift_card_id,
        c_order_express.ship_name,
        c_order_express.ship_mobile,
        c_order_express.ship_province,
        c_order_express.ship_city,
        c_order_express.ship_area,
        c_order_express.ship_addr,
        c_order_express.weight,
        c_order_express.package_type,
        c_order_express.object_type,
        c_order_express.route_state,
        c_order_express.is_use,
        c_order_express.sender_user_uuid,
        c_order_express.order_id,
        c_order_express.ship_user_uuid
        from
        c_order,
        c_order_express
        where
        (c_order_express.sender_user_uuid=#{sender_user_uuid}
        or
        c_order_express.ship_user_uuid=#{ship_user_uuid})
        <if test="state!=null">
            and c_order_express.route_state=#{state}
        </if>
    </select>

    <!-- 查看快递订单详情  -->
    <select id="selectOrderDetailByUuid" parameterType="java.lang.String" resultMap="orderMap">
        SELECT *
        FROM c_order o, c_order_express oe
        WHERE oe.uuid = #{uuid} AND o.id = oe.order_id
    </select>

    <!-- 取消订单，更新order的is_cancel-->
    <update id="updateCancelOrderById" parameterType="java.lang.String">
        UPDATE c_order
        SET is_cancel = 1
        WHERE id = #{id}
    </update>

</mapper>