<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.OrderCancelMapper">

    <select id="selectCanceledOrderList" parameterType="com.sftc.web.model.entity.OrderCancel"
            resultType="com.sftc.web.model.entity.OrderCancel">
        SELECT * FROM sftc_order_cancel
        <where>
            <if test="order_id != null and order_id != 0">and order_id = #{order_id}</if>
        </where>
    </select>
</mapper>