<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.OrderExpressMapper">

    <resultMap id="orderExpressMap" type="com.sftc.web.model.entity.OrderExpress">
        <id column="id" property="id"/>
        <result column="order_number" property="order_number"/>
        <result column="ship_name" property="ship_name"/>
        <result column="ship_mobile" property="ship_mobile"/>
        <result column="ship_province" property="ship_province"/>
        <result column="ship_city" property="ship_city"/>
        <result column="ship_area" property="ship_area"/>
        <result column="ship_addr" property="ship_addr"/>
        <result column="package_type" property="package_type"/>
        <result column="weight" property="weight"/>
        <result column="object_type" property="object_type"/>
        <result column="create_time" property="create_time"/>
        <result column="is_use" property="is_use"/>
    </resultMap>

    <!-- 根据order_id-->
    <select id="findAllOrderExpressByOrderId" resultType="com.sftc.web.model.entity.OrderExpress"
            parameterType="java.lang.String">
        SELECT *
        FROM c_order_express
        WHERE order_id = #{order_id}
    </select>

    <!-- 普通下单 -->
    <insert id="addOrderExpress2" parameterType="com.sftc.web.model.entity.OrderExpress" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO c_order_express
        (ship_name, ship_mobile, ship_province, ship_city, ship_area,
         ship_addr, supplementary_info, order_number, package_type, object_type, package_comments, create_time,
         sender_user_uuid, order_id, route_state, uuid, longitude, latitude, reserve_time, order_time, directed_code,
         attributes, is_directed, weight, pay_state,quote_uuid)
        VALUES (
            #{ship_name, jdbcType=VARCHAR},
            #{ship_mobile, jdbcType=VARCHAR},
            #{ship_province, jdbcType=VARCHAR},
            #{ship_city, jdbcType=VARCHAR},
            #{ship_area, jdbcType=VARCHAR},
            #{ship_addr, jdbcType=VARCHAR},
            #{supplementary_info, jdbcType=VARCHAR},
            #{order_number, jdbcType=VARCHAR},
            #{package_type, jdbcType=VARCHAR},
            #{object_type, jdbcType=VARCHAR},
            #{package_comments, jdbcType=VARCHAR},
            #{create_time, jdbcType=VARCHAR},
            #{sender_user_uuid, jdbcType=INTEGER},
            #{order_id, jdbcType=INTEGER},
            #{route_state, jdbcType=VARCHAR},
            #{uuid, jdbcType=VARCHAR},
            #{longitude, jdbcType=DOUBLE},
            #{latitude, jdbcType=DOUBLE},
            #{reserve_time, jdbcType=VARCHAR},
            #{order_time, jdbcType=VARCHAR},
            #{directed_code, jdbcType=VARCHAR},
            #{attributes, jdbcType=VARCHAR},
            #{is_directed, jdbcType=VARCHAR},
            #{weight, jdbcType=VARCHAR},
            #{pay_state,jdbcType=VARCHAR},
            #{quote_uuid,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 更改快递表directed_code和is_directed字段 -->
    <update id="updateDirectedMessage">
        UPDATE c_order_express
        SET directed_code = #{directed_code},
            is_directed   = #{is_directed}
        WHERE uuid = #{uuid}
    </update>

    <update id="updateOrderExpressStatus">
        UPDATE c_order_express
        SET route_state = #{status, jdbcType=VARCHAR},
            pay_state   = #{pay_state,jdbcType=VARCHAR}
        WHERE id = #{express_id}
    </update>

    <update id="updatePayState">
        UPDATE c_order_express
        SET pay_state = #{pay_state, jdbcType=VARCHAR}
        WHERE uuid = #{uuid}
    </update>

    <update id="updateRouteState">
        UPDATE c_order_express
        SET route_state = #{route_state, jdbcType=VARCHAR}
        WHERE uuid = #{uuid}
    </update>

    <update id="updateOrderExpressStatusByUUID">
        UPDATE c_order_express
        SET route_state = #{route_state, jdbcType=VARCHAR},
        <if test="pay_state != null">pay_state = #{pay_state}</if>
        WHERE uuid = #{uuid}
    </update>

    <update id="updateExpressDirectedByUUID">
        UPDATE c_order_express
        set
        <if test="status != null">route_state = #{status},</if>
        <if test="directed_code != null">directed_code = #{directed_code},</if>
        <if test="is_directed != null">is_directed = #{is_directed}</if>
        WHERE uuid = #{uuid}
    </update>

    <update id="updateAttributesAndStatusByUUID">
        UPDATE c_order_express
        set
        <if test="attributes != null">attributes = #{attributes},</if>
        route_state = #{status},
        pay_state = #{pay_state}
        WHERE uuid = #{uuid}
    </update>

    <update id="updateOrderExpressUuidAndReserveTimeById">
        update c_order_express
        set
        <if test="uuid != null">uuid=#{uuid, jdbcType=VARCHAR},</if>
        <if test="reserve_time != null">reserve_time=#{reserve_time, jdbcType=VARCHAR},</if>
        route_state='WAIT_HAND_OVER'
        WHERE id=#{id}
    </update>

    <!-- 根据uuid查询快递 -->
    <select id="selectExpressByUuid" resultType="com.sftc.web.model.entity.OrderExpress"
            parameterType="java.lang.String">
        SELECT *
        FROM c_order_express
        WHERE uuid = #{uuid}
    </select>

    <update id="updateOrderTime">
        UPDATE c_order_express
        SET
            order_time = #{order_time, jdbcType=VARCHAR},
            quote_uuid = #{quote_uuid, jdbcType=VARCHAR}
        WHERE uuid = #{uuid}
    </update>

    <!--更新订单的order_number为sf好友同城下单接口返回值-->
    <update id="updateOrderNumber">
        UPDATE c_order_express
        SET order_number = #{order_number}
        WHERE id = #{id}
    </update>

    <select id="selectOrderIdForsyncSFExpressStatus" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT *
        FROM c_order o
        WHERE id IN (
            SELECT t.order_id
            FROM (
                     SELECT DISTINCT oe.order_id
                     FROM c_order_express oe
                     WHERE (oe.sender_user_uuid = #{userUUId} OR oe.ship_user_uuid = #{userUUId})
                 ) AS t
        )
        ORDER BY o.create_time DESC
    </select>

    <select id="selectExpressForsyncSFExpressStatus" resultType="com.sftc.web.model.entity.OrderExpress">
        SELECT * FROM c_order_express oe WHERE oe.order_id
        IN
        <foreach collection="list" item="order_id" open="(" close=")" separator=",">
            #{order_id}
        </foreach>
    </select>

    <select id="selectExpressForContactInfo"
            resultType="com.sftc.web.model.entity.OrderExpress">
        SELECT *
        FROM c_order_express
        WHERE (sender_user_uuid = #{sender_user_uuid} AND ship_user_uuid = #{ship_user_uuid})
              OR (sender_user_uuid = #{ship_user_uuid} AND ship_user_uuid = #{sender_user_uuid})
    </select>
</mapper>