<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.OrderMapper">

    <resultMap id="orderMap" type="com.sftc.web.model.dto.OrderDTO">
        <id property="id" column="id"/>
        <result property="order_type" column="order_type"/>
        <result property="region_type" column="region_type"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="sender_user_id" column="sender_user_id"/>
        <result property="sender_mobile" column="sender_mobile"/>
        <result property="sender_name" column="sender_name"/>
        <result property="sender_province" column="sender_province"/>
        <result property="sender_city" column="sender_city"/>
        <result property="sender_area" column="sender_area"/>
        <result property="sender_addr" column="sender_addr"/>
        <result property="voice" column="voice"/>
        <result property="image" column="image"/>
        <result property="word_message" column="word_message"/>
        <result property="pay_method" column="pay_method"/>
        <result property="distribution_method" column="distribution_method"/>
        <result property="gift_card_id" column="gift_card_id"/>
        <result property="voice_time" column="voice_time"/>
        <result property="create_time" column="create_time"/>
        <association property="giftCard" select="selectGiftCard" column="gift_card_id">
        </association>
        <collection property="orderExpressList" ofType="com.sftc.web.model.dto.OrderExpressDTO" select="selectExpressList"
                    column="id">
        </collection>
    </resultMap>

    <select id="selectExpressList" parameterType="java.lang.String" resultType="com.sftc.web.model.dto.OrderExpressDTO">
        SELECT *
        FROM sftc_order_express
        WHERE order_id = #{id}
    </select>

    <select id="selectGiftCard" parameterType="int" resultType="com.sftc.web.model.GiftCard">
        SELECT *
        FROM sftc_gift_card
        WHERE id = #{gift_card_id}
    </select>

    <select id="selectNationReserveOrders" resultType="java.lang.String">
        SELECT DISTINCT oe.order_id
        FROM sftc_order o, sftc_order_express oe
        WHERE o.id = oe.order_id
              AND o.region_type = 'REGION_NATION'
              AND o.is_cancel = 0
              AND oe.reserve_time IS NOT NULL
              AND oe.reserve_time != ''
              AND oe.state = 'WAIT_HAND_OVER'
    </select>

    <!--抓取大网单-->
    <select id="selectNationUnCommitOrders" resultType="java.lang.String">
        SELECT DISTINCT oe.order_id
        FROM sftc_order o, sftc_order_express oe
        WHERE o.id = oe.order_id AND o.region_type = 'REGION_NATION' AND o.is_cancel = 0
              AND (oe.state = 'WAIT_FILL' OR oe.state = 'ALREADY_FILL' OR oe.state = 'PAYING') AND receive_time IS NOT NULL
    </select>

    <!--抓取未提交的好友多包裹-->
    <select id="selectMutilExpressOrders" resultType="java.lang.String">
        SELECT DISTINCT oe.order_id
        FROM sftc_order o, sftc_order_express oe
        WHERE o.id = oe.order_id AND o.is_cancel = 0
              AND (SELECT COUNT(order_id)
                   FROM sftc_order_express
                   WHERE order_id = o.id) > 1 AND region_type IS NULL
    </select>

    <!--抓取同城单-->
    <select id="selectSameUnCommitOrders" resultType="java.lang.String">
        SELECT DISTINCT oe.order_id
        FROM sftc_order o, sftc_order_express oe
        WHERE o.id = oe.order_id
              AND
              (1 = (SELECT COUNT(order_id)
                    FROM sftc_order_express
                    WHERE order_id = o.id))
              AND o.is_cancel = 0
              AND (
                  (oe.state = 'WAIT_FILL' OR oe.state = 'ALREADY_FILL')
                  OR
                  (o.region_type = 'REGION_SAME' AND oe.state = 'PAYING')
              )
    </select>

    <select id="selectOrderDetailByOrderId" resultMap="orderMap" parameterType="java.lang.String">
        SELECT *
        FROM sftc_order
        WHERE id = #{order_id}
    </select>

    <!--添加了行级锁和排他锁的订单详情查询-->
    <select id="selectOrderDetailByOrderIdForUpdate" resultMap="orderMap" parameterType="java.lang.String">
        SELECT *
        FROM sftc_order
        WHERE id = #{order_id} FOR UPDATE
    </select>

    <select id="selectOrderDetailByExpressId" resultMap="orderMap" parameterType="int">
        SELECT *
        FROM sftc_order o, sftc_order_express oe
        WHERE o.id = oe.order_id AND oe.id = #{express_id}
    </select>

    <!-- 添加订单 -->
    <insert id="addOrder" parameterType="com.sftc.web.model.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sftc_order
        (freight,
         create_time, sender_province, sender_name, sender_mobile, sender_city,
         sender_area, sender_addr, word_message, image, voice,
         sender_user_id, gift_card_id, pay_method, distribution_method, longitude,
         latitude, order_type, voice_time, region_type)
        VALUES (
            #{freight, jdbcType=DOUBLE},
            #{create_time, jdbcType=VARCHAR},
            #{sender_province, jdbcType=VARCHAR},
            #{sender_name, jdbcType=VARCHAR},
            #{sender_mobile, jdbcType=VARCHAR},
            #{sender_city, jdbcType=VARCHAR},
            #{sender_area, jdbcType=VARCHAR},
            #{sender_addr, jdbcType=VARCHAR},
            #{word_message, jdbcType=VARCHAR},
            #{image, jdbcType=VARCHAR},
            #{voice, jdbcType=VARCHAR},
            #{sender_user_id, jdbcType=INTEGER},
            #{gift_card_id, jdbcType=INTEGER},
            #{pay_method, jdbcType=VARCHAR},
            #{distribution_method, jdbcType=VARCHAR},
            #{longitude, jdbcType=DOUBLE},
            #{latitude, jdbcType=DOUBLE},
            #{order_type, jdbcType=VARCHAR},
            #{voice_time, jdbcType=INTEGER},
            #{region_type, jdbcType=VARCHAR, javaType=String}
        )
    </insert>

    <!-- 添加订单 -->
    <insert id="addOrder2" parameterType="com.sftc.web.model.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sftc_order
        (freight,
         create_time, sender_province, sender_name, sender_mobile, sender_city,
         sender_area, sender_addr, supplementary_info, word_message, image, voice,
         sender_user_id, gift_card_id, pay_method, distribution_method, longitude,
         latitude, order_type, voice_time, region_type)
        VALUES (
            #{freight, jdbcType=DOUBLE},
            #{create_time, jdbcType=VARCHAR},
            #{sender_province, jdbcType=VARCHAR},
            #{sender_name, jdbcType=VARCHAR},
            #{sender_mobile, jdbcType=VARCHAR},
            #{sender_city, jdbcType=VARCHAR},
            #{sender_area, jdbcType=VARCHAR},
            #{sender_addr, jdbcType=VARCHAR},
            #{supplementary_info, jdbcType=VARCHAR},
            #{word_message, jdbcType=VARCHAR},
            #{image, jdbcType=VARCHAR},
            #{voice, jdbcType=VARCHAR},
            #{sender_user_id, jdbcType=INTEGER},
            #{gift_card_id, jdbcType=INTEGER},
            #{pay_method, jdbcType=VARCHAR},
            #{distribution_method, jdbcType=VARCHAR},
            #{longitude, jdbcType=DOUBLE},
            #{latitude, jdbcType=DOUBLE},
            #{order_type, jdbcType=VARCHAR},
            #{voice_time, jdbcType=INTEGER},
            #{region_type, jdbcType=VARCHAR, javaType=String}
        )
    </insert>

    <update id="updateOrderRegionType">
        UPDATE sftc_order
        SET region_type = #{region_type, jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>

    <!-- 我的订单列表  -->
    <select id="selectMyOrderList" parameterType="com.sftc.web.model.reqeustParam.MyOrderParam"
            resultMap="orderMap">
        SELECT * FROM sftc_order
        WHERE id IN (
        SELECT o.id FROM sftc_order o, sftc_order_express oe
        WHERE o.id=oe.order_id AND o.sender_user_id=#{id}
        <if test="keyword!=null">
            AND (
            o.sender_name LIKE #{keyword} OR
            o.sender_province LIKE #{keyword} OR
            o.sender_city LIKE #{keyword} OR
            o.sender_area LIKE #{keyword} OR
            o.sender_addr LIKE #{keyword} OR
            oe.order_number LIKE #{keyword} OR
            oe.ship_name LIKE #{keyword} OR
            oe.ship_province LIKE #{keyword} OR
            oe.ship_city LIKE #{keyword} OR
            oe.ship_area LIKE #{keyword} OR
            oe.ship_addr LIKE #{keyword} OR
            oe.state LIKE #{keyword}
            )
        </if>
        )
        ORDER by create_time desc
        limit #{pageNum}, #{pageSize}
    </select>
    <!--解决多字段 转义的问题-->
    <select id="selectMyOrderList2" parameterType="com.sftc.web.model.reqeustParam.MyOrderParam"
            resultMap="orderMap">
        SELECT * FROM sftc_order
        WHERE id IN (
        SELECT o.id FROM sftc_order o, sftc_order_express oe
        WHERE o.id=oe.order_id AND o.sender_user_id=#{id}
        <if test="keyword_state != null">
            AND (oe.state REGEXP ${keyword_state} )
        </if>
        <if test="keyword!=null">
            AND (
            o.sender_name LIKE #{keyword} OR
            o.sender_province LIKE #{keyword} OR
            o.sender_city LIKE #{keyword} OR
            o.sender_area LIKE #{keyword} OR
            o.sender_addr LIKE #{keyword} OR
            oe.order_number LIKE #{keyword} OR
            oe.ship_name LIKE #{keyword} OR
            oe.ship_province LIKE #{keyword} OR
            oe.ship_city LIKE #{keyword} OR
            oe.ship_area LIKE #{keyword} OR
            oe.ship_addr LIKE #{keyword}
            )
        </if>
        )
        ORDER by create_time desc
        limit #{pageNum}, #{pageSize}
    </select>


    <!-- 我的好友订单列表  -->
    <select id="selectMyFriendOrderList" parameterType="com.sftc.web.model.reqeustParam.MyOrderParam"
            resultMap="orderMap">

        SELECT *
        FROM sftc_order o
        WHERE id IN (
            SELECT t.order_id
            FROM (
                     SELECT DISTINCT oe.order_id
                     FROM sftc_order_express oe
                     WHERE (oe.sender_user_id = #{id} OR oe.ship_user_id = #{id})
                 ) AS t
        ) AND order_type = 'ORDER_MYSTERY'
        ORDER BY o.create_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="myOrderLists" parameterType="com.sftc.web.model.entity.OrderExpress" resultMap="orderMap">
        select
        sftc_order_express.id,
        sftc_order_express.order_number,
        sftc_order.pay_time,
        sftc_order.pay_method,
        sftc_order.distribution_method,
        sftc_order.freight,
        sftc_order.sender_name,
        sftc_order.sender_mobile,
        sftc_order.sender_province,
        sftc_order.sender_city,
        sftc_order.sender_area,
        sftc_order.sender_addr,
        sftc_order.word_message,
        sftc_order.image,
        sftc_order.voice,
        sftc_order.longitude,
        sftc_order.latitude,
        sftc_order.sender_user_id,
        sftc_order.gift_card_id,
        sftc_order_express.ship_name,
        sftc_order_express.ship_mobile,
        sftc_order_express.ship_province,
        sftc_order_express.ship_city,
        sftc_order_express.ship_area,
        sftc_order_express.ship_addr,
        sftc_order_express.package_type,
        sftc_order_express.object_type,
        sftc_order_express.state,
        sftc_order_express.is_use,
        sftc_order_express.sender_user_id,
        sftc_order_express.order_id,
        sftc_order_express.ship_user_id
        from
        sftc_order,
        sftc_order_express
        where
        (sftc_order_express.sender_user_id=#{id}
        or
        sftc_order_express.ship_user_id=#{id})
        <if test="state!=null">
            and sftc_order_express.state=#{state}
        </if>
    </select>

    <!-- 查看快递订单详情  -->
    <select id="selectOrderDetailByUuid" parameterType="java.lang.String" resultMap="orderMap">
        SELECT *
        FROM sftc_order o, sftc_order_express oe
        WHERE oe.uuid = #{uuid} AND o.id = oe.order_id
    </select>

    <!--  删除订单  -->
    <delete id="deleOrderAndOrderExpress" parameterType="java.lang.String">
        DELETE sftc_order, sftc_order_express
        FROM sftc_order
            LEFT JOIN sftc_order_express
                ON sftc_order.id = sftc_order_express.order_id
        WHERE sftc_order_express.uuid = #{uuid}
    </delete>

    <!-- 取消订单，更新order的is_cancel-->
    <update id="updateCancelOrderById" parameterType="java.lang.String">
        UPDATE sftc_order
        SET is_cancel = 1
        WHERE id = #{id}
    </update>

    <!--下面是cms系统用到的mapper-->
    <select id="selectOrderByPage" resultMap="orderMap" parameterType="com.sftc.web.model.entity.Order">
        SELECT * FROM sftc_order
        <where>
            <if test="id != 0">and id = #{id}</if>
            <if test="order_type != null">and order_type = #{order_type}</if>
            <if test="region_type != null">and region_type = #{region_type}</if>
            <if test="sender_mobile != null">and sender_mobile = #{sender_mobile}</if>
        </where>
    </select>
</mapper>