<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sftc.web.dao.mybatis.PriceExaplainMapper">

    <select id="queryPriceExplainByCirty" resultType="com.sftc.web.model.entity.PriceExplain">
        SELECT
            distance_price,
            weight_price
        FROM sftc_price_explain
        WHERE city LIKE
              concat(concat('%', #{city}), '%')
    </select>

    <delete id="deletePriceExplain" parameterType="java.lang.Integer">
        DELETE FROM sftc_price_explain
        WHERE id = #{id}
    </delete>

    <update id="updatePriceExplain" parameterType="com.sftc.web.model.entity.PriceExplain">
        update sftc_price_explain
        <trim prefix="set" suffixOverrides=",">
            <if test="city != null and city != '' ">city = #{city},</if>
            <if test="distance_price != null and distance_price != '' ">
                distance_price = #{distance_price},
            </if>
            <if test="weight_price != null and weight_price != '' ">
                weight_price = #{weight_price},
            </if>
            <if test="update_time != null and update_time != '' ">
                update_time = #{update_time},
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="queryCityName" resultType="java.lang.String">
        SELECT city FROM sftc_price_explain
    </select>
</mapper>