<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.TokenMapper">

    <update id="updateToken" parameterType="com.sftc.web.model.entity.Token">
        update c_token
        <trim prefix="set" suffixOverrides=",">
            <if test="gmt_modified!=null">gmt_modified=#{gmt_modified},</if>
            <if test="gmt_expiry!=null">gmt_expiry=#{gmt_expiry},</if>
            <if test="local_token!=null">local_token=#{local_token},</if>
            <if test="access_token!=null">access_token=#{access_token},</if>
            <if test="refresh_token!=null">refresh_token=#{refresh_token},</if>
        </trim>
        WHERE user_uuid=#{user_uuid}
    </update>

    <insert id="addToken" parameterType="com.sftc.web.model.entity.Token">
        INSERT INTO c_token
        (create_time, is_logout, gmt_modified, gmt_expiry, local_token, user_uuid)
        VALUES
            (#{create_time}, #{is_logout}, #{gmt_modified}, #{gmt_expiry}, #{local_token}, #{user_uuid})
    </insert>

    <select id="getToken" parameterType="int" resultType="com.sftc.web.model.entity.Token" resultMap="getToken">
        SELECT
            u.name,
            t.access_token
        FROM c_order o, users u, c_token t
        WHERE u.uuid = o.sender_user_uuid AND u.uuid = t.user_uuid AND o.id = #{order_id}
    </select>

    <select id="getTokenByUUId" parameterType="string" resultType="com.sftc.web.model.entity.Token">
        SELECT *
        FROM c_token
        WHERE user_uuid = #{user_uuid}
    </select>
    <resultMap id="getToken" type="com.sftc.web.model.entity.Token">
        <result property="access_token" column="access_token"/>
    </resultMap>

    <select id="tokenInterceptor" parameterType="java.lang.String" resultType="com.sftc.web.model.entity.User">
        SELECT users.*
        FROM c_token, users
        WHERE
            users.uuid = c_token.user_uuid AND c_token.local_token = #{token}
    </select>

    <select id="getUserIdByLocalToken" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT user_uuid
        FROM c_token
        WHERE local_token = #{token}
    </select>

    <delete id="deleteTokenByUserId" parameterType="java.lang.String">
        DELETE FROM c_token
        WHERE user_uuid = #{user_uuid}
    </delete>

</mapper>