<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.UserContactMapper">

    <resultMap id="friendMap" type="com.sftc.web.model.entity.UserContact">
        <id column="id" property="id"/>
        <result column="user_uuid" property="user_uuid"/>
        <result column="friend_uuid" property="friend_uuid"/>
        <result column="is_tag_star" property="is_tag_star"/>
        <result column="lntimacy" property="lntimacy"/>
        <result column="create_time" property="create_time"/>
        <result column="picture_address" property="picture_address"/>
        <result column="notes" property="notes"/>
        <result column="mobile" property="mobile"/>
        <association property="friend_info" select="selectUser" column="friend_uuid"/>
    </resultMap>

    <resultMap id="contactCallbackMap" type="com.sftc.web.model.dto.FriendRecordDTO">
        <id column="id" property="id"/>
        <result column="sender_name" property="sender_name"/>
        <result column="sender_user_uuid" property="sender_user_uuid"/>
        <result column="ship_name" property="ship_name"/>
        <result column="ship_user_uuid" property="ship_user_uuid"/>
        <result column="create_time" property="create_time"/>
        <result column="order_id" property="order_id"/>
        <result column="route_state" property="route_state"/>
        <result column="pay_state" property="pay_state"/>
        <result column="gift_card_id" property="gift_card_id"/>
        <result column="package_type" property="package_type"/>
        <result column="object_type" property="object_type"/>
        <result column="package_comments" property="package_comments"/>
        <result column="uuid" property="uuid"/>
        <result column="pay_method" property="pay_method"/>
        <collection property="orderExpressList" ofType="com.sftc.web.model.entity.OrderExpress"
                    select="selectExpressList"
                    column="uuid">
        </collection>
    </resultMap>

    <select id="selectExpressList" parameterType="java.lang.String" resultType="com.sftc.web.model.entity.OrderExpress">
        SELECT *
        FROM c_order_express
        WHERE uuid = #{uuid}
    </select>

    <!-- 好友列表 -->
    <select id="friendList" parameterType="com.sftc.web.model.vo.swaggerRequest.FriendListVO" resultMap="friendMap">
        SELECT *
        FROM c_user_contact
        WHERE user_uuid = #{user_uuid}
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!-- 星标好友 -->
    <update id="starFriend">
        UPDATE c_user_contact
        SET is_tag_star = #{is_tag_star}
        WHERE user_uuid = #{userUUID} AND friend_uuid = #{friendUUId}
    </update>
    <select id="selectUser" parameterType="string" resultType="com.sftc.web.model.entity.User">
        SELECT
            avatar,
            name,
            created_at
        FROM users
        WHERE uuid = #{friend_uuid}
    </select>
    <!-- 好友详情 -->
    <select id="friendDetail" resultMap="friendMap">
        SELECT *
        FROM c_user_contact
        WHERE user_uuid = #{userUUId} AND friend_uuid = #{friendUUId}
    </select>

    <select id="selectCirclesContact" parameterType="com.sftc.web.model.vo.swaggerRequest.UserContactParamVO"
            resultMap="contactCallbackMap">
        SELECT
            c_order_express.*,
            c_order.*
        FROM c_order_express, c_order
        WHERE (c_order_express.sender_user_uuid = #{user_uuid} AND c_order_express.ship_user_uuid = #{friend_uuid}
               OR c_order_express.sender_user_uuid = #{friend_uuid} AND
                  c_order_express.ship_user_uuid = #{user_uuid})
              AND c_order_express.order_id = c_order.id
        ORDER BY c_order_express.create_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!-- 查询用户关系 byuser_uuid friend_uuid-->
    <select id="selectByUserIdAndShipId" parameterType="com.sftc.web.model.entity.UserContactNew"
            resultType="com.sftc.web.model.entity.UserContactNew">
        SELECT *
        FROM c_user_contact
        WHERE user_uuid = #{user_uuid} AND friend_uuid = #{friend_uuid}
    </select>

    <!-- 插入用户关系-->
    <insert id="insertUserContact" parameterType="com.sftc.web.model.entity.UserContactNew" useGeneratedKeys="true">
        INSERT INTO c_user_contact (user_uuid, friend_uuid, is_tag_star, lntimacy, create_time)
        VALUES (#{user_uuid}, #{friend_uuid}, #{is_tag_star}, #{lntimacy}, #{create_time});
    </insert>

    <update id="updateUserContactLntimacy" parameterType="com.sftc.web.model.entity.UserContactNew">
        UPDATE c_user_contact
        SET lntimacy = lntimacy + 1
        WHERE id = #{id}
    </update>

    <update id="updateNotesPictureMobile">
        UPDATE c_user_contact
        SET notes = #{notes}, picture_address = #{picture_address}, mobile = #{mobile}
        WHERE id = #{id}
    </update>
</mapper>