<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.dao.mybatis.UserLabelMapper">

    <select id="queryUserAllLabelByUID" resultType="com.sftc.web.model.entity.Label">
        SELECT
            id,
            system_label_ids,
            custom_labels
        FROM c_user_contact_label
        WHERE user_contact_id = #{user_contact_id}
    </select>

    <insert id="insertLabelByUCID">
        INSERT c_user_contact_label
        (system_label_ids, user_contact_id, custom_labels, create_time)
        VALUES
            (#{system_label_ids}, #{user_contact_id}, #{custom_labels}, UNIX_TIMESTAMP(NOW()) * 1000)
    </insert>

    <update id="updateLabelByUCID">
        UPDATE c_user_contact_label
        SET
            system_label_ids = #{system_label_ids},
            custom_labels    = #{custom_labels},
            update_time      = UNIX_TIMESTAMP(NOW()) * 1000
        WHERE user_contact_id = #{user_contact_id}
    </update>

    <select id="querySystemLabels" resultType="com.sftc.web.model.entity.SystemLabel">
        SELECT
            id,
            system_label
        FROM c_system_label
    </select>
</mapper>