<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.AddressBookMapper">

    <resultMap id="BaseResultMap" type="com.sftc.web.model.AddressBook">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="address_id" property="address_id" jdbcType="INTEGER"/>
        <result column="is_delete" property="is_delete" jdbcType="INTEGER"/>
        <result column="is_mystery" property="is_mystery" jdbcType="INTEGER"/>
        <result column="address_type" property="address_type" jdbcType="VARCHAR"/>
        <result column="address_book_type" property="address_book_type" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, address_id, is_delete, is_mystery, address_type, address_book_type,
        create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sftc_address_book
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sftc_address_book
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.sftc.web.model.AddressBook">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sftc_address_book (user_id, address_id, is_delete,
        is_mystery, address_type, address_book_type,
        create_time)
        values (#{userId,jdbcType=INTEGER}, #{addressId,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER},
        #{isMystery,jdbcType=INTEGER}, #{addressType,jdbcType=VARCHAR}, #{addressBookType,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.sftc.web.model.AddressBook" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sftc_address_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_id != null">
                user_id,
            </if>
            <if test="address_id != null">
                address_id,
            </if>
            <if test="is_delete != null">
                is_delete,
            </if>
            <if test="is_mystery != null">
                is_mystery,
            </if>
            <if test="address_type != null">
                address_type,
            </if>
            <if test="address_book_type != null">
                address_book_type,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="address_id != null">
                #{address_id,jdbcType=INTEGER},
            </if>
            <if test="is_delete != null">
                #{is_delete,jdbcType=INTEGER},
            </if>
            <if test="is_mystery != null">
                #{is_mystery,jdbcType=INTEGER},
            </if>
            <if test="address_type != null">
                #{address_type,jdbcType=VARCHAR},
            </if>
            <if test="address_book_type != null">
                #{address_book_type,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sftc.web.model.AddressBook">
        update sftc_address_book
        <set>
            <if test="user_id != null">
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
            <if test="address_id != null">
                address_id = #{address_id,jdbcType=INTEGER},
            </if>
            <if test="is_delete != null">
                is_delete = #{is_delete,jdbcType=INTEGER},
            </if>
            <if test="is_mystery != null">
                is_mystery = #{is_mystery,jdbcType=INTEGER},
            </if>
            <if test="address_type != null">
                address_type = #{address_type,jdbcType=VARCHAR},
            </if>
            <if test="address_book_type != null">
                address_book_type = #{address_book_type,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sftc.web.model.AddressBook">
        update sftc_address_book
        set user_id = #{user_id,jdbcType=INTEGER},
        address_id = #{address_id,jdbcType=INTEGER},
        is_delete = #{is_delete,jdbcType=INTEGER},
        is_mystery = #{is_mystery,jdbcType=INTEGER},
        address_type = #{address_type,jdbcType=VARCHAR},
        address_book_type = #{address_book_type,jdbcType=VARCHAR},
        create_time = #{create_time,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateIsDeleteStatusByPrimaryKey" >
        update sftc_address_book SET is_delete = #{is_delete} WHERE id = #{id}
    </update>



    <!--&lt;!&ndash; 插入地址簿条目信息  &ndash;&gt;
    <insert id="addAddressBook" useGeneratedKeys="true" keyProperty="id" parameterType="com.sftc.web.model.AddressBook">
        insert into sftc_address_book
        (user_id,name,phone,province,city,area,address,create_time<include refid="column1"/>)
        values
        (#{user_id},#{name},#{phone},#{province},#{city},#{area},#{address},#{create_time}<include refid="value1"/>)
    </insert>
    &lt;!&ndash;删除地址簿条目信息&ndash;&gt;
    <delete id="deleteAddressBook" parameterType="int">
        DELETE FROM sftc_address_book WHERE user_id = #{user_id} and id = #{id}
    </delete>
    &lt;!&ndash;查询地址簿列表&ndash;&gt;
    <select id="selectList" parameterType="int" resultType="com.sftc.web.model.AddressBook">
        SELECT * FROM sftc_address_book WHERE user_id = #{user_id} ORDER BY create_time DESC,id DESC ;
    </select>
    &lt;!&ndash;更细地址簿条目信息&ndash;&gt;
    <update id="updateAddressBook" parameterType="String">
        UPDATE sftc_address_book
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="area != null and area != ''">area = #{area},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="supplementary_info != null and supplementary_info != ''">supplementary_info =
                #{supplementary_info},
            </if>
            <if test="create_time != null and create_time != ''">create_time = #{create_time},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
        </set>
        WHERE id = #{id};
    </update>


    &lt;!&ndash;动态插入&ndash;&gt;
    <sql id="column1">
        &lt;!&ndash; 去掉最后一个, &ndash;&gt;
        <trim suffixOverrides=",">
            <if test="longitude != null and longitude != 0">
                ,longitude,
            </if>
            <if test="latitude != null and latitude != 0">
                latitude,
            </if>
            <if test="supplementary_info != null and supplementary_info != ''">
                supplementary_info,
            </if>
        </trim>
    </sql>
    <sql id="value1">
        &lt;!&ndash; 去掉最后一个, &ndash;&gt;
        <trim suffixOverrides=",">
            <if test="longitude != null and longitude != 0">
                ,#{longitude},
            </if>
            <if test="latitude != null and latitude != 0">
                #{latitude},
            </if>
            <if test="supplementary_info != null and supplementary_info != ''">
                #{supplementary_info},
            </if>
        </trim>
    </sql>-->
</mapper>