<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.CommonQuestionMapper">

    <!-- 常见问题列表  -->
    <select id="getCommonQuestion" resultType="com.sftc.web.model.CommonQuestion">
                SELECT id,title,content from sftc_common_question
        </select>

    <select id="selectByPage" parameterType="com.sftc.web.model.CommonQuestion"
            resultType="com.sftc.web.model.CommonQuestion">
        SELECT * FROM sftc_common_question
        <where>
            <if test="id != 0">and id = #{id}</if>
            <if test="title != null">and title LIKE concat(concat('%',#{title},'%'))</if>
            <if test="content != null">and content LIKE concat(concat('%',#{content},'%'))</if>
        </where>
    </select>

    <insert id="insertCommonQuestion" parameterType="com.sftc.web.model.CommonQuestion" useGeneratedKeys="true">
                INSERT INTO sftc_common_question (title,content,create_time)
                VALUES (#{title},#{content},#{create_time})
        </insert>

    <update id="updateCommonQuestion" parameterType="com.sftc.web.model.CommonQuestion">
        UPDATE sftc_common_question
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteCommonQuestion" parameterType="int">
                DELETE FROM sftc_common_question WHERE id = #{id}
        </delete>
</mapper>