<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.EvaluateMapper">
    <!-- 添加 订单评价信息-->
    <insert id="addEvaluate" parameterType="com.sftc.web.model.Evaluate">
    INSERT into sftc_evaluate
    (merchant_comments,merchant_score,merchant_tags,uuid,orderExpress_id,user_id,create_time)
    VALUES
    (#{merchant_comments},#{merchant_score},#{merchant_tags},#{uuid},#{orderExpress_id},#{user_id},#{create_time})
    </insert>



    <!--<insert id="addEvaluate" parameterType="com.sftc.web.model.Evaluate">-->
        <!--INSERT into sftc_evaluate-->
        <!--(merchant_comments,merchant_score,merchant_tags,order_id,user_id,create_time)-->
        <!--VALUES-->
        <!--(#{merchant_comments},#{merchant_score},#{merchant_tags},#{order_id},#{user_id},#{create_time})-->
    <!--</insert>-->


    <!-- 查找 评价信息 by uuid-->
    <select id="selectByUuid" resultType="com.sftc.web.model.Evaluate">
        SELECT * FROM sftc_evaluate WHERE uuid = #{uuid}
    </select>

</mapper>