<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sftc.web.mapper.GiftCardMapper">
    <resultMap type="com.sftc.web.model.Order" id="OrderResultMap">
        <result column="image" property="image"/>
        <result column="voice" property="voice"/>
        <association property="giftCard" javaType="com.sftc.web.model.GiftCard">
            <result column="icon" property="icon"/>
        </association>
        <association property="user" javaType="com.sftc.web.model.User">
            <result column="head_portrait" property="head_portrait"/>
        </association>
    </resultMap>

    <select id="giftCardDetail" resultMap="OrderResultMap" resultType="com.sftc.web.model.Order" parameterType="String">
        select o.image,o.voice,c.icon,u.head_portrait
        from sftc_user u,sftc_order o,sftc_gift_card c
        WHERE o.user_id=u.id and o.gift_card_id=c.id AND o.order_number=#{order_number}
    </select>

    <select id="giftCardList" resultType="com.sftc.web.model.GiftCard">
        SELECT * FROM sftc_gift_card
    </select>

    <select id="selectGiftCardById" parameterType="int" resultType="com.sftc.web.model.GiftCard">
        SELECT * FROM sftc_gift_card WHERE id=#{giftCardId}
    </select>

    <select id="selectByPage" parameterType="com.sftc.web.model.GiftCard"
            resultType="com.sftc.web.model.GiftCard">
        SELECT * FROM sftc_gift_card
        <where>
            <if test="id != 0">and id = #{id}</if>
            <if test="name != null">and name LIKE concat(concat('%',#{name},'%'))</if>
            <if test="type != null">and type = #{type}</if>
        </where>
    </select>

    <insert id="insertGiftCard" parameterType="com.sftc.web.model.GiftCard" useGeneratedKeys="true">
       INSERT INTO sftc_gift_card (NAME,icon,TYPE,create_time)
       VALUES (#{name},#{icon},#{type},#{create_time})
    </insert>

    <update id="updateGiftCard" parameterType="com.sftc.web.model.GiftCard" >
        UPDATE sftc_gift_card
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''" >name = #{name}</if>
            <if test="icon != null and icon != ''">icon = #{icon}</if>
            <if test="type != null and type != ''">type = #{type}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteGiftCard" parameterType="int">
        DELETE FROM sftc_gift_card WHERE id = #{id}
    </delete>
</mapper>