<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.OrderMapper">

    <!-- 查看订单详情  -->
    <select id="orderDetile" resultType="com.sftc.web.model.Order" parameterType="String">
        SELECT sender_mobile, sender_name, sender_province,state,freight,
        sender_city, sender_area, sender_addr, ship_mobile, ship_name,
        ship_province, ship_city,
        ship_area, ship_addr, memos, type, size, pay_method FROM sftc_order
    </select>

    <!-- 普通下单 -->
    <insert id="addOrdinaryOrder" parameterType="com.sftc.web.model.Order">
        INSERT INTO sftc_order
        (order_number, state, gmt_order_create, freight,
        create_time, sender_province, sender_name, sender_mobile, sender_city,
        sender_area, sender_addr, word_message, image, voice, courier_id,
        user_id, gift_card_id, pay_method, distribution_method, longitude, latitude, package_count)
        VALUES
        (#{order_number}, #{state}, #{gmt_order_create}, #{freight},
        #{create_time}, #{sender_province}, #{sender_name}, #{sender_mobile}, #{sender_city},
        #{sender_area}, #{sender_addr}, #{word_message}, #{image}, #{voice}, #{courier_id},
        #{user_id}, #{gift_card_id}, #{pay_method}, #{distribution_method},
        #{longitude}, #{latitude}, #{package_count})
    </insert>

    <!-- 好友寄件 -->
    <insert id="insertFriendOrder" parameterType="com.sftc.web.model.Order">
        INSERT INTO sftc_order
        (order_number, state, gmt_order_create, gmt_pay_create, freight,
        create_time, sender_province, sender_name, sender_mobile, sender_city,
        sender_area, sender_addr, word_message, image, voice, courier_id,
        user_id, gift_card_id, pay_method, distribution_method, longitude, latitude)
        VALUES
        (#{order_number}, #{state}, #{gmt_order_create}, #{gmt_pay_create}, #{freight},
        #{create_time}, #{sender_province}, #{sender_name}, #{sender_mobile}, #{sender_city},
        #{sender_area}, #{sender_addr}, #{word_message}, #{image}, #{voice}, #{courier_id},
        #{user_id}, #{gift_card_id}, #{pay_method}, #{distribution_method},
        #{longitude}, #{latitude})
    </insert>

    <!-- 修改订单 -->
    <update id="updateOrder" parameterType="com.sftc.web.model.Order">
        update sftc_order
        <trim prefix="set" suffixOverrides=",">
            <if test="gmt_pay_create!=null">gmt_pay_create=#{gmt_pay_create},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="courier_id!=null">courier_id=#{courier_id},</if>
        </trim>
        WHERE order_number=#{order_number}
    </update>
</mapper>