<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.OrderExpressMapper">

    <resultMap id="orderExpressMap" type="com.sftc.web.model.OrderExpress">
        <id column="id" property="id"/>
        <result column="order_number" property="order_number"/>
        <result column="ship_name" property="ship_name"/>
        <result column="ship_mobile" property="ship_mobile"/>
        <result column="ship_province" property="ship_province"/>
        <result column="ship_city" property="ship_city"/>
        <result column="ship_area" property="ship_area"/>
        <result column="ship_addr" property="ship_addr"/>
        <result column="package_type" property="package_type"/>
        <result column="object_type" property="object_type"/>
        <result column="create_time" property="create_time"/>
        <result column="is_use" property="is_use"/>
    </resultMap>

    <select id="selectExpressForId" parameterType="int" resultType="com.sftc.web.model.OrderExpress">
        SELECT * FROM sftc_order_express WHERE (sender_user_id=#{id} or ship_user_id=#{id})
    </select>

    <!-- 根据订单编号查询该订单的包裹 -->
    <select id="findEmptyPackage" resultMap="orderExpressMap" parameterType="java.lang.String">
        SELECT * FROM sftc_order_express WHERE order_number=#{order_number} AND is_use=0
    </select>

    <!-- 根据order_id-->
    <select id="findAllOrderExpressByOrderId" resultType="com.sftc.web.model.OrderExpress" parameterType="int">
        SELECT * FROM  sftc_order_express WHERE  order_id = #{order_id}
    </select>

    <!--<select id="findMyOrderExpress" parameterType="com.sftc.web.model.reqeustParam.MyOrderParam"-->
    <!--resultType="com.sftc.web.model.apiCallback.OrderCallback">-->
    <!--SELECT DISTINCT sftc_order_express.id,sftc_order_express.order_number,sftc_order_express.ship_name,-->
    <!--sftc_order_express.ship_addr,sftc_order_express.state,sftc_order_express.uuid,sftc_order_express.create_time,-->
    <!--sftc_order.sender_name,sftc_order.sender_addr,sftc_order.order_type,sftc_order.gift_card_id-->
    <!--FROM sftc_order_express,sftc_order-->
    <!--WHERE (sftc_order_express.sender_user_id=#{id} or sftc_order_express.ship_user_id=#{id})-->
    <!--AND sftc_order_express.order_id = sftc_order.id-->
    <!--order by sftc_order_express.create_time desc-->
    <!--limit #{pageNum},#{pageSize}-->
    <!--</select>-->

    <!-- 普通下单 -->
    <insert id="addOrderExpress" parameterType="com.sftc.web.model.OrderExpress">
        INSERT INTO sftc_order_express
        (ship_name,ship_mobile,ship_province,ship_city,ship_area,
        ship_addr,order_number,package_type,object_type,create_time,sender_user_id,order_id,state,uuid,longitude,latitude,reserve_time)
        VALUES (
        #{ship_name, jdbcType=VARCHAR},
        #{ship_mobile, jdbcType=VARCHAR},
        #{ship_province, jdbcType=VARCHAR},
        #{ship_city, jdbcType=VARCHAR},
        #{ship_area, jdbcType=VARCHAR},
        #{ship_addr, jdbcType=VARCHAR},
        #{order_number, jdbcType=VARCHAR},
        #{package_type, jdbcType=VARCHAR},
        #{object_type, jdbcType=VARCHAR},
        #{create_time, jdbcType=VARCHAR},
        #{sender_user_id, jdbcType=INTEGER},
        #{order_id, jdbcType=INTEGER},
        #{state, jdbcType=VARCHAR},
        #{uuid, jdbcType=VARCHAR},
        #{longitude, jdbcType=DOUBLE},
        #{latitude, jdbcType=DOUBLE},
        #{reserve_time, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateOrderExpress" parameterType="com.sftc.web.model.OrderExpress">
        UPDATE sftc_order_express
        set
        ship_name=#{ship_name, jdbcType=VARCHAR},
        ship_mobile=#{ship_mobile, jdbcType=VARCHAR},
        ship_province=#{ship_province, jdbcType=VARCHAR},
        ship_city=#{ship_city, jdbcType=VARCHAR},
        ship_area=#{ship_area, jdbcType=VARCHAR},
        ship_addr=#{ship_addr, jdbcType=VARCHAR},
        state=#{state, jdbcType=VARCHAR},
        is_use=1,
        uuid=#{uuid, jdbcType=VARCHAR},
        ship_user_id=#{ship_user_id, jdbcType=INTEGER}
        WHERE order_id=#{order_id}
    </update>
    <!--更新快递信息，by 快递id，用于好友填写订单时回填信息-->
    <update id="updateOrderExpressByOrderExpressId" parameterType="com.sftc.web.model.OrderExpress">
        UPDATE sftc_order_express
        set
        ship_name=#{ship_name, jdbcType=VARCHAR},
        ship_mobile=#{ship_mobile, jdbcType=VARCHAR},
        ship_province=#{ship_province, jdbcType=VARCHAR},
        ship_city=#{ship_city, jdbcType=VARCHAR},
        ship_area=#{ship_area, jdbcType=VARCHAR},
        ship_addr=#{ship_addr, jdbcType=VARCHAR},
        state=#{state, jdbcType=VARCHAR},
        longitude=#{longitude, jdbcType=DOUBLE},
        latitude=#{latitude, jdbcType=DOUBLE},
        is_use=1,
        uuid=#{uuid, jdbcType=VARCHAR},
        ship_user_id=#{ship_user_id, jdbcType=INTEGER},
        receive_time=#{receive_time, jdbcType=VARCHAR}
        WHERE id=#{id}
    </update>

    <update id="updatePlace" parameterType="com.sftc.web.model.OrderExpress">
        UPDATE sftc_order_express
        set
        longitude=#{longitude, jdbcType=DOUBLE},
        latitude=#{latitude, jdbcType=DOUBLE},
        reserve_time=#{reserve_time, jdbcType=VARCHAR},
        is_use=1,
        uuid=#{uuid, jdbcType=VARCHAR}
        WHERE order_id=#{order_id}
    </update>

    <update id="updateOrderExpressStatus">
        UPDATE sftc_order_express
        set

        is_use=1,
        uuid=#{uuid, jdbcType=VARCHAR}
        WHERE order_id=#{order_id}
    </update>

    <select id="getUuidByOrderId" resultType="string" parameterType="int">
        SELECT uuid FROM sftc_order_express where order_id=#{order_id}
    </select>

    <update id="updateOrderExpressForSF" parameterType="com.sftc.web.model.OrderExpress">
        update sftc_order_express
        set
        state=#{state, jdbcType=VARCHAR}
        WHERE uuid=#{uuid}
    </update>

    <update id="updateOrderExpressUuidAndReserveTimeById">
        update sftc_order_express
        set
        uuid=#{uuid, jdbcType=VARCHAR},
        reserve_time=#{reserve_time, jdbcType=VARCHAR},
        state='WAIT_HAND_OVER'
        WHERE id=#{id}
    </update>

    <!-- 获取订单对应的未填写快递信息列表list,根据订单id order_id -->
    <select id="UnWritenOrderExpressListByOrderIdAndShipnameNull" resultType="com.sftc.web.model.OrderExpress"
            parameterType="int">
        select * from sftc_order_express where order_id = #{id} and ship_name is null
    </select>

    <!-- 根据uuid查询快递 -->
    <select id="selectExpressByUuid" resultType="com.sftc.web.model.OrderExpress" parameterType="String">
        select * from sftc_order_express where uuid = #{uuid}
    </select>
</mapper>