<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.OrderMapper">

    <!-- 提交订单  -->
    <insert id="addOrderExpress" parameterType="com.sftc.web.model.OrderExpress">
        INSERT INTO sftc_order ( create_time,  order_number,  ship_name,  ship_mobile,  ship_province,
        ship_city,  ship_area,  ship_addr,  package_type,  object_type)
        VALUES (#{create_time},#{order_number},#{ship_name},#{ship_mobile},#{ship_province},
        #{ship_city},#{ship_area},#{ship_addr},#{package_type},#{object_type})
    </insert>



    <!--修改订单   -->
    <!--<update id="updateOrder" parameterType="com.sftc.web.model.Order">-->
        <!--update sftc_order-->
        <!--<trim prefix="set" suffixOverrides=",">-->
            <!--<if test="sender_mobile!=null">sender_mobile=#{sender_mobile},</if>-->
            <!--<if test="sender_name!=null">sender_name=#{sender_name},</if>-->
            <!--<if test="sender_province!=null">sender_province=#{sender_province},</if>-->
            <!--<if test="sender_city!=null">sender_city=#{sender_city},</if>-->
            <!--<if test="sender_area!=null">sender_area=#{sender_area},</if>-->
            <!--<if test="sender_addr!=null">sender_addr=#{sender_addr},</if>-->

            <!--<if test="word_message!=null">word_message=#{word_message},</if>-->
            <!--<if test="image!=null">image=#{image},</if>-->
            <!--<if test="gift_card_id!=null">gift_card_id=#{gift_card_id},</if>-->
            <!--<if test="pay_method!=null">pay_method=#{pay_method},</if>-->

        <!--</trim>-->
        <!--WHERE order_number=#{order_number}-->
    <!--</update>-->

    <!-- 根据订单编号查询该订单的包裹数 -->
    <select id="findPackageCount" resultType="int" parameterType="java.lang.String">
        SELECT package_count FROM sftc_order WHERE order_number=#{order_number}
    </select>

    <!-- 添加订单 -->
    <insert id="addOrder" parameterType="com.sftc.web.model.Order">
        INSERT INTO sftc_order
        (order_number, state, gmt_order_create, freight,
        create_time, sender_province, sender_name, sender_mobile, sender_city,
        sender_area, sender_addr, word_message, image, voice, courier_id,
        user_id, gift_card_id, pay_method, distribution_method, longitude, latitude, package_count)
        VALUES
        (#{order_number}, #{state}, #{gmt_order_create}, #{freight},
        #{create_time}, #{sender_province}, #{sender_name}, #{sender_mobile}, #{sender_city},
        #{sender_area}, #{sender_addr}, #{word_message}, #{image}, #{voice}, #{courier_id},
        #{user_id}, #{gift_card_id}, #{pay_method}, #{distribution_method},
        #{longitude}, #{latitude}, #{package_count})
    </insert>

    <!--修改订单   -->
    <update id="updateOrder" parameterType="com.sftc.web.model.Order">
        update sftc_order
        <trim prefix="set" suffixOverrides=",">
            <if test="sender_mobile!=null">sender_mobile=#{sender_mobile},</if>
            <if test="sender_name!=null">sender_name=#{sender_name},</if>
            <if test="sender_province!=null">sender_province=#{sender_province},</if>
            <if test="sender_city!=null">sender_city=#{sender_city},</if>
            <if test="sender_area!=null">sender_area=#{sender_area},</if>
            <if test="sender_addr!=null">sender_addr=#{sender_addr},</if>
            <if test="voice!=null">voice=#{voice},</if>
            <if test="word_message!=null">word_message=#{word_message},</if>
            <if test="image!=null">image=#{image},</if>
            <if test="gift_card_id!=null">gift_card_id=#{gift_card_id},</if>
            <if test="pay_method!=null">pay_method=#{pay_method},</if>

        </trim>
        WHERE order_number=#{order_number}
    </update>
    <!-- 修改订单  -->
    <update id="updateOrderExpress" parameterType="com.sftc.web.model.OrderExpress">
        update sftc_order
        <trim prefix="set" suffixOverrides=",">
            <if test="ship_mobile!=null">ship_mobile=#{ship_mobile},</if>
            <if test="ship_name!=null">ship_name=#{ship_name},</if>
            <if test="ship_province!=null">ship_province=#{ship_province},</if>
            <if test="ship_city!=null">ship_city=#{ship_city},</if>
            <if test="ship_area!=null">ship_area=#{ship_area},</if>
            <if test="ship_addr!=null">ship_addr=#{ship_addr},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="size!=null">size=#{size},</if>
            <!--    <if test="voice!=null">voice=#{voice}</if> -->
        </trim>
        WHERE order_number=#{order_number}
    </update>


    <sql id="Order_And_OrderExpress_List">
        o.sender_mobile, o.sender_name, o.sender_province,state,
        o.sender_city, o.sender_area, o.sender_addr, o.voice,o.image ,o.pay_method,o.distribution_method,o.gmt_order_create,
        o.gmt_pay_create,o.order_number ,o.courier_id,o.gift_card_id,oe.order_number,oe.ship_province,
        oe.ship_name,  oe.ship_city,  oe.ship_area,  oe.ship_addr,  oe.package_type,oe.object_type
    </sql>
    <!-- 查看订单详情  -->
    <select id="orderDetile" resultType="com.sftc.web.model.Order" parameterType="string" resultMap="OrderExpressMap">
        SELECT
        <include refid="Order_And_OrderExpress_List" />
        FROM sftc_order o,sftc_order_express oe WHERE o.order_number=#{order_number}  and oe.order_number=o.order_number


    </select>

    <resultMap id="OrderExpressMap" type="com.sftc.web.model.Order">
        <result property="sender_mobile" column="sender_mobile"/>
        <result property="sender_name" column="sender_name"/>
        <result property="sender_province" column="sender_province"/>
        <result property="state" column="state"/>
        <result property="sender_city" column="sender_city"/>
        <result property="sender_area" column="sender_area"/>
        <result property="sender_addr" column="sender_addr"/>
        <result property="voice" column="voice"/>
        <result property="image" column="image"/>
        <result property="pay_method" column="pay_method"/>
        <result property="distribution_method" column="distribution_method"/>
        <result property="gmt_order_create" column="gmt_order_create"/>
        <result property="gmt_pay_create" column="gmt_pay_create"/>
        <result property="order_number" column="order_number"/>
        <result property="courier_id" column="courier_id"/>
        <result property="gift_card_id" column="gift_card_id"/>
        <collection property="orderExpressList"  ofType="com.sftc.web.model.OrderExpress">
            <result column="ship_province" property="ship_province"/>
            <result property="order_number" column="order_number"/>
            <result property="ship_mobile" column="ship_mobile"/>
            <result property="ship_name" column="ship_name"/>
            <result property="ship_city" column="ship_city"/>
            <result property="ship_area" column="ship_area"/>
            <result property="ship_addr" column="ship_addr"/>
            <result property="package_type" column="package_type"/>
            <result property="object_type" column="object_type"/>
        </collection>

    </resultMap>

    <!-- 查看我的订单列表  -->
    <select id="myOrderList" resultType="com.sftc.web.model.Order" parameterType="com.sftc.web.model.Order" resultMap="OrderExpressMap">
        SELECT
        <include refid="Order_And_OrderExpress_List" />
        FROM sftc_order o,sftc_order_express oe
        <where>
            oe.order_number=o.order_number AND user_id=#{user_id}
            <if test="state!=null">and state=#{state}</if>
        </where>

    </select>



        <!-- 好友填写地址  -->
    <insert id="friendWriteAddress" parameterType="com.sftc.web.model.Order">
                INSERT INTO sftc_order (ship_mobile, ship_name,ship_province, ship_city,
                ship_area, ship_addr) VALUES (#{ship_mobile},#{ship_name},#{ship_province},
                #{ship_city},#{ship_area},#{ship_addr})
    </insert>



</mapper>