<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.OrderExpressMapper">

    <resultMap id="orderExpressMap" type="com.sftc.web.model.OrderExpress">
        <id column="id" property="id"/>
        <result column="order_number" property="order_number"/>
        <result column="ship_name" property="ship_name"/>
        <result column="ship_mobile" property="ship_mobile"/>
        <result column="ship_province" property="ship_province"/>
        <result column="ship_city" property="ship_city"/>
        <result column="ship_area" property="ship_area"/>
        <result column="ship_addr" property="ship_addr"/>
        <result column="package_type" property="package_type"/>
        <result column="object_type" property="object_type"/>
        <result column="create_time" property="create_time"/>
        <result column="is_use" property="is_use"/>
    </resultMap>

    <select id="selectExpressForId" parameterType="int" resultType="com.sftc.web.model.OrderExpress">
        SELECT * FROM sftc_order_express WHERE (sender_user_id=#{id} or ship_user_id=#{id})
    </select>

    <!-- 根据order_id-->
    <select id="findAllOrderExpressByOrderId" resultType="com.sftc.web.model.OrderExpress" parameterType="int">
        SELECT * FROM  sftc_order_express WHERE  order_id = #{order_id}
    </select>

    <!-- 普通下单 -->
    <insert id="addOrderExpress" parameterType="com.sftc.web.model.OrderExpress" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO sftc_order_express
        (ship_name,ship_mobile,ship_province,ship_city,ship_area,
        ship_addr,order_number,package_type,object_type,create_time,sender_user_id,order_id,state,uuid,longitude,latitude,reserve_time,order_time)
        VALUES (
        #{ship_name, jdbcType=VARCHAR},
        #{ship_mobile, jdbcType=VARCHAR},
        #{ship_province, jdbcType=VARCHAR},
        #{ship_city, jdbcType=VARCHAR},
        #{ship_area, jdbcType=VARCHAR},
        #{ship_addr, jdbcType=VARCHAR},
        #{order_number, jdbcType=VARCHAR},
        #{package_type, jdbcType=VARCHAR},
        #{object_type, jdbcType=VARCHAR},
        #{create_time, jdbcType=VARCHAR},
        #{sender_user_id, jdbcType=INTEGER},
        #{order_id, jdbcType=INTEGER},
        #{state, jdbcType=VARCHAR},
        #{uuid, jdbcType=VARCHAR},
        #{longitude, jdbcType=DOUBLE},
        #{latitude, jdbcType=DOUBLE},
        #{reserve_time, jdbcType=VARCHAR},
        #{order_time, jdbcType=VARCHAR}
        )
    </insert>

    <!--更新快递信息，by 快递id，用于好友填写订单时回填信息-->
    <update id="updateOrderExpressByOrderExpressId" parameterType="com.sftc.web.model.OrderExpress">
        UPDATE sftc_order_express
        set
        ship_name=#{ship_name, jdbcType=VARCHAR},
        ship_mobile=#{ship_mobile, jdbcType=VARCHAR},
        ship_province=#{ship_province, jdbcType=VARCHAR},
        ship_city=#{ship_city, jdbcType=VARCHAR},
        ship_area=#{ship_area, jdbcType=VARCHAR},
        ship_addr=#{ship_addr, jdbcType=VARCHAR},
        state=#{state, jdbcType=VARCHAR},
        longitude=#{longitude, jdbcType=DOUBLE},
        latitude=#{latitude, jdbcType=DOUBLE},
        is_use=1,
        ship_user_id=#{ship_user_id, jdbcType=INTEGER},
        receive_time=#{receive_time, jdbcType=VARCHAR}
        WHERE id=#{id}
    </update>

    <update id="updateOrderExpressStatus">
        UPDATE sftc_order_express
        SET state=#{status, jdbcType=VARCHAR}
        WHERE id=#{express_id}
    </update>

    <update id="updateOrderExpressCanceled" parameterType="int">
        UPDATE sftc_order_express
        SET state='CANCELED'
        WHERE  order_id=#{order_id}
    </update>

    <update id="updateOrderExpressForSF" parameterType="com.sftc.web.model.OrderExpress">
        update sftc_order_express
        set
        state=#{state, jdbcType=VARCHAR}
        WHERE uuid=#{uuid}
    </update>

    <update id="updateOrderExpressUuidAndReserveTimeById">
        update sftc_order_express
        set
        <if test="uuid != null">uuid=#{uuid, jdbcType=VARCHAR},</if>
        reserve_time=#{reserve_time, jdbcType=VARCHAR},
        state='WAIT_HAND_OVER'
        WHERE id=#{id}
    </update>

    <!-- 根据uuid查询快递 -->
    <select id="selectExpressByUuid" resultType="com.sftc.web.model.OrderExpress" parameterType="String">
        select * from sftc_order_express where uuid = #{uuid}
    </select>

    <update id="updateOrderTime">
        update sftc_order_express
        set
        order_time=#{order_time, jdbcType=VARCHAR}
        WHERE uuid=#{uuid}
    </update>

    <!--更新订单的order_number为sf好友同城下单接口返回值-->
    <update id="updateOrderNumber">
        UPDATE sftc_order_express SET order_number = #{order_number} WHERE id = #{id}
    </update>


    <!--下面是cms系统用到的mapper-->
    <select id="selectOrderExpressByPage" resultType="com.sftc.web.model.OrderExpress"
            parameterType="com.sftc.web.model.OrderExpress">
        SELECT * FROM sftc_order_express
        <where>
            <if test="id != 0">and id = #{id}</if>
            <if test="order_id != 0">and order_id = #{order_id}</if>
            <if test="ship_mobile != null">and ship_mobile = #{ship_mobile}</if>
            <if test="uuid != null">and uuid = #{uuid}</if>
        </where>
    </select>
</mapper>