<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.TokenMapper">

    <update id="updateToken" parameterType="com.sftc.web.model.Token">
        update sftc_token
        <trim prefix="set" suffixOverrides=",">
            <if test="gmt_modified!=null">gmt_modified=#{gmt_modified},</if>
            <if test="gmt_expiry!=null">gmt_expiry=#{gmt_expiry},</if>
            <if test="local_token!=null">local_token=#{local_token},</if>
            <if test="access_token!=null">access_token=#{access_token},</if>
            <if test="refresh_token!=null">refresh_token=#{refresh_token},</if>
        </trim>
        WHERE user_id=#{user_id}
    </update>

    <insert id="addToken" parameterType="com.sftc.web.model.Token">
        INSERT INTO sftc_token
        (create_time, is_logout, gmt_modified, gmt_expiry, local_token, user_id)
        VALUES
            (#{create_time}, #{is_logout}, #{gmt_modified}, #{gmt_expiry}, #{local_token}, #{user_id})
    </insert>

    <select id="getToken" parameterType="int" resultType="com.sftc.web.model.Token" resultMap="getToken">
        SELECT
            u.name,
            t.access_token
        FROM sftc_order o, sftc_user u, sftc_token t
        WHERE u.id = o.sender_user_id AND u.id = t.user_id AND o.id = #{id}
    </select>

    <select id="getTokenById" parameterType="int" resultType="com.sftc.web.model.Token">
        SELECT *
        FROM sftc_token
        WHERE user_id = #{user_id}
    </select>

    <resultMap id="getToken" type="com.sftc.web.model.Token">
        <result property="access_token" column="access_token"/>
    </resultMap>

    <select id="getTokenByMobile" parameterType="String" resultType="com.sftc.web.model.Token">
        SELECT t.access_token
        FROM sftc_user u, sftc_token t
        WHERE u.id = t.user_id AND u.mobile = #{mobile}
    </select>

    <select id="selectUserIdByToken" parameterType="String" resultType="com.sftc.web.model.Token">
        SELECT *
        FROM sftc_token
        WHERE local_token = #{token}
    </select>

    <select id="getTokenList" parameterType="com.sftc.web.model.Token" resultType="com.sftc.web.model.Token">
        select * from sftc_token
        <where>
            <if test="id != 0">and id = #{id}</if>
            <if test="user_id != null">and user_id LIKE '%${user_id}%'</if>
        </where>
    </select>

</mapper>