<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.LabelMapper">
        <!-- 添加标签   -->
        <insert id="addLabel" parameterType="com.sftc.web.model.UserContactLabel">
                INSERT INTO sftc_label (label,user_contact_id,create_time) VALUES
                (#{label},#{user_contact_id},#{create_time})
        </insert>
        <!-- 获取好友标签列表*  -->
        <select id="getFriendLabelList" parameterType="int" resultType="com.sftc.web.model.UserContactLabel">
                SELECT label FROM sftc_label WHERE user_contact_id= #{user_contact_id}
        </select>
        <!-- 删除好友标签  -->
        <delete id="deleteFriendLabel" parameterType="int">
                DELETE FROM sftc_label WHERE id=#{id}
        </delete>
</mapper>