<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.UserMapper">

    <select id="selectUserByLogin" parameterType="com.sftc.web.model.User" resultType="com.sftc.web.model.User">
        select * from sftc_user
        where
            <if test="user_phone!=null">
                user_phone=#{user_phone}
            </if>
            <if test="open_id!=null">
                open_id=#{open_id}
            </if>
    </select>

    <insert id="insertOpenid" parameterType="java.lang.String">
        insert into sftc_user
        (open_id)
        values
        (#{open_id})
    </insert>
</mapper>