<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sftc.web.mapper.UserContactMapper">

        <resultMap id="friendListInfo" type="com.sftc.web.model.UserContact">
                <id column="id" property="id" />
                <result column="lntimacy" property="lntimacy" />
                <result column="phone" property="phone" />
                <result column="name" property="name" />
                <result column="icon" property="icon" />
                <result column="wechat" property="wechat" />
                <result column="remark" property="remark" />
                <result column="is_tag_star" property="is_tag_star" />
                <result column="friend_id" property="friend_id" />
        </resultMap>

        <!-- 好友列表 -->
        <select id="friendList" parameterType="int" resultMap="friendListInfo">
            select lntimacy, phone, icon, wechat, remark, is_tag_star, friend_id
            from sftc_user_contact where user_id=#{user_id}
        </select>

        <!-- 添加好友  -->
        <insert id="addFriend" parameterType="com.sftc.web.model.reqeustParam.UserContactParam">
                INSERT INTO sftc_user_contact
                (name,phone,icon,user_id,friend_id,remark,wechat,create_time)
                VALUES
                (#{name},#{phone},#{icon},#{user_id},#{friend_id},#{remark},#{wechat},#{create_time})
        </insert>

        <!-- 编辑好友  -->
        <update id="updateFriend" parameterType="com.sftc.web.model.UserContact">
                update sftc_user_contact
                <trim prefix="set" suffixOverrides=",">
                        <if test="icon!=null">icon=#{icon},</if>
                        <if test="name!=null">name=#{name},</if>
                        <if test="phone!=null">phone=#{phone},</if>
                        <if test="remark!=null">remark=#{remark},</if>
                        <if test="wechat!=null">wechat=#{wechat},</if>

                </trim>
                WHERE id=#{id}
        </update>
        <!--  好友详情*  -->
        <select id="friendDetail" parameterType="int" resultType="com.sftc.web.model.UserContact">
                SELECT icon,name,phone,is_tag_star,wechat,remark FROM  sftc_user_contact
                WHERE id=#{id}
        </select>

</mapper>